<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cumberland IOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Cumberland-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Cumberland-visionOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CumberlandTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CumberlandUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Cumberland_visionOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MurderBoard.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>TestApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86544A8A2EBE946F0083F9CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>865B61D92EB5148E009CDEF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8663004B2E9DA49C005F471B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>866A3A352E8DC16D006D3723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>866A3A462E8DC16F006D3723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>866A3A502E8DC16F006D3723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
